<div class="row">
	<div class="twelve columns">
    <h3>About Us</h3>
	</div>
</div>
<div class="row">
	<div class="twelve columns">
		{{#linkTo "about.index"}}company{{/linkTo}}|{{#linkTo "about.contact"}}contact{{/linkTo}}
	</div>
</div>
{{outlet}}