<div class="row">
	<div class="twelve columns">
    <h1>About</h1>
    {{#if abouts.isLoaded}}
    	<ul>
    	{{#each about in abouts}}
        	<li>{{about.name}}</li>
    	{{/each}}
    	</ul>
	{{else}}
		<p class="loading">Loading Hours</p>
	{{/if}}
	</div>
</div>
