<div class="row">
	<div class="twelve columns">
    <h1>About</h1>
	</div>
</div>
<div class="row">
	<div class="twelve columns">
		{{#linkTo "about.index"}}company{{/linkTo}}|{{#linkTo "about.contact"}}contact{{/linkTo}}
	</div>
</div>
{{outlet}}